<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 form">
      <section class="input-content">
        <h2>Reset Password</h2>
        <div class="input-content-wrap">
          <span class="text-center">Please enter your email address to request a password reset.</span>
          <dl class="inputbox">
            <dt class="inputbox-title"></dt>
            <dd class="inputbox-content">
              <input id="input0" type="email"  #passwordResetEmail required/>
              <label for="input0">Email</label>
              <span class="underline"></span>
            </dd>
          </dl>
          <dl class="inputbox">
            <dd class="inputbox-content">
              <input id="input1" type="password"  #userPwd required/>
              <label for="input1">Password</label>
              <span class="underline"></span>
            </dd>
          </dl>
          <div class="btns d-flex justify-content-center">
              <button class="btn btn-confirm" (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset password</button>                                          
          </div>
          <div class="redirectToLogin">
            <span>Go back to ? <a class="redirect" routerLink="/sign-in">Log In</a></span>
          </div>
        </div>
      </section>      
    </div>
  </div>
</div>