mat-paginator{
    background: #212121;
}

mat-paginator{
    color: #fff;
}


.searchdesign{
    height: 44px;
    background: #212121;
    border: 1px solid #716e6e;
    color: #fff;
    font-size: 15px;
}

.btnDesign{
    height: 44px;
    border-radius: 0;
    width: 55px;
    background: #FFCB74;
    border: #FFCB74;
}

mat-paginator {
    background-color: transparent;
    color: #212121;
}

.searchdesign {
    background-color: transparent;
    color: #212121;
    border-color: transparent;
}